
<ul class="admin-ul">
    {{#each users}}
        <li>
            <form method=post class="admin-c">
                Username: 
                <input id="username" type=text name="username" size=16 value="{{username}}">
                First Name: 
                <input id="name"type=text name="FName" size=16 value="{{FName}}">
                Last Name:
                <input id="name"type=text name="LName" size=16 value="{{LName}}">
                Email:
                <input id="email" type=text name="Email" size=16 value="{{Email}}">
                <input type="hidden" name="password" value={{password}}>
                <input type=submit name="op" value="update">
                <input type=submit name="op" value="delete">
            </form>
        </li>
    {{/each}}
</ul>
