<style>
#container {
    position:absolute;
        top:50%;
        left:50%;
        background-color:white;
        z-index:1002;
        overflow:auto;
        width:400px;
        height:400px;
        margin-left:-200px;
        margin-top:-200px; 
        visibility: hidden;
}
#container:target {
    visibility: visible;
    display: block;
}
#admin-tab{
    margin:auto;
    text-align:center;
    margin-top:50px;
    margin-bottom: 50px;
}
#container-b{
text-align: center;
}
#container-b input{
    margin-bottom:10px;
}
#container-b label{
    text-align: right;
    display: inline-block;
    width: 100px;
}
#username-f{
    margin-top:20px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-dragon fa-lg"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products" style="font-family: cursive"><h3>PlayMaster</h3><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--
    <span class="navbar-text" id="nav-admin">
      <a href="/user/admin">Admin Settings
       </a>
    </span>
    -->
    <span class="navbar-text">
      <a href="/shoppingcart"><i class="fas fa-shopping-cart"></i> Shopping Cart
        <span class="badge" style="background-color: grey; color: white">{{cartItem}}</span>
      </a>
    </span>
    <span class="navbar-text dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-cog"></i> Hi, {{user.username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/user/profile">Profile</a>
        <a class="dropdown-item" href="/user/settings">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user/admin" id="admindd" style="display:none;">Admin Settings</a>
        <a class="dropdown-item" href="/">Logout</a>
      </div>
    </span>
  </div>
</nav>
<table id="admin-tab" class="admin-ul" style="font-size: 14px;">
    <tr><th>Username</th><th>Password</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Admin</th><th>Update</th><th>Delete</th></delete></tr>
    {{#each users}}
            <form method=post onsubmit="return commit();" class="admin-c">
                <tr> 
                <td><input id="username" type=text name="username" size=16 value="{{username}}"></td>

                <td><input id="password" type=text name="password" size=16 value="{{password}}"></td>              

                <td><input id="name"type=text name="FName" size=16 value="{{FName}}"></td>
               <td><input id="name"type=text name="LName" size=16 value="{{LName}}"></td>
                <input type="hidden" name="id" name="rowid" value={{rowid}}>
                <td><input id="email" type=text name="Email" size=16 value="{{Email}}"></td>
                <td><input type="checkbox" id="adminC" style="display:none;" disabled="disabled" name="admin" value="{{admin}}"></td>
                <td><input type=submit name="op" value="update"></td>
                <td><input type=submit onclick="delete()" name="op" value="delete"></td>
            </form>
            </tr>
    {{/each}}
</table>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <br>
                <i class="fas fa-dragon fa-5x"></i>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3" id="socialIcon">

                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright PlayMaster inc. </p>
    </div>
</footer>
<script src="/javascript/checkadmin.js"></script>
<script>
    function commit(){
        if(confirm("Are you sure you want to make this change?")==true){
            return true;
        }
        else{
            document.location.reload();
            return false;
        }   
    }



</script>