<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-dragon fa-lg"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products" style="font-family: cursive"><h3>PlayMaster</h3><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--
    <span class="navbar-text" id="nav-admin">
      <a href="/user/admin">Admin Settings
       </a>
    </span>
    -->
    <span class="navbar-text">
      <a href="/shoppingcart"><i class="fas fa-shopping-cart"></i> Shopping Cart
        <span class="badge" style="background-color: grey; color: white">{{cartItem}}</span>
      </a>
    </span>
    <span class="navbar-text dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-cog"></i> Hi, {{this.username.username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/user/profile">Profile</a>
        <a class="dropdown-item" href="/user/settings">Settings</a>
        <a class="dropdown-item" href="/user/admin" id="admindd" style="display:none;">Admin Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/">Logout</a>
      </div>
    </span>
  </div>
</nav>

<div class="container" id="profContent">
    <div  id="prof-cont">
    <label class="h3-profile">Username: <label>{{this.username.username}}</label><br>
    <label class="h3-profile">Name: {{this.username.FName}} {{this.username.LName}}</label><br>
    <label class="h3-profile">Email: {{this.username.Email}}</label><br>
    <a href="/user/settings" class="set-submit" id="change-user">Change Information</a>
    </div>


    <h1 id="gamedisplay"><u>Your Games</u></h1>
    <div class="row">
        {{#each product}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img class="img-responsive" src="{{this.product_image}}" alt="prewiew" width="220" height="280">
                    <div class="caption">
                        
                        <h4>{{this.product_name}}</h4>
                        
                        <div class="clearfix">
                            <p>
                                <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </p>
                        </div>
                    </div>
                </div>
                </div>

            {{/each}}
        
    </div>
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <br>
                <i class="fas fa-dragon fa-5x"></i>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3" id="socialIcon">

                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright PlayMaster inc. </p>
    </div>
</footer>
<script src="/javascript/checkadmin.js"></script>