<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="headerLogo" src="/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/shoppingcart"><i class="fas fa-shopping-cart"></i> Shopping Cart
        <span class="badge">{{session.cart.totalQty}}</span>
      </a>
    </span>
    <span class="navbar-text dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-cog"></i> User Management
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/user/login">login</a>
        <a class="dropdown-item" href="/user/register">register</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </span>
  </div>
</nav>

<div class="container">
	<div class="card">
		<div class="row">
			<aside class="col-sm-5 border-right">
				<article class="gallery-wrap">
					<div class="img-big-wrap">
						<div> <a href="#"><img id="img" src="{{product.imagePath}}"></a></div>
					</div> 
				</article> 
			</aside>
			<aside class="col-sm-7">
				<article class="card-body p-5">
					<h3 id="pname" class="title mb-3">{{product.name}}</h3>

					<p class="price-detail-wrap">
						<span class="price h3 text-warning">
							<span class="currency">CAN $</span><span id="productPrice" class="num">{{product.price}}
						</span>
					</p> 
					<dl class="item-property">
						<dt>Description</dt>
						<dd>
							<p id="description">{{product.description}}</p>
						</dd>
					</dl>
					<dl class="param param-feature">
						<dt>Delivery</dt>
						<dd>Canada, USA</dd>
					</dl> 
					<hr>
					<dl class="param param-feature">
						<dt>Rating</dt>
						<dd>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</dd>
					</dl>
					<hr>
					<div class="row">
						<div class="col-sm-5">
							<dl class="param param-inline">
								<dt>Quantity: </dt>
								<dd>
									<select id="qty" class="form-control form-control-sm" style="width:70px;">
										<option value="1"> 1 </option>
										<option value="2"> 2 </option>
										<option value="3"> 3 </option>
										<option value="4"> 4 </option>
										<option value="5"> 5 </option>
										<option value="6"> 6 </option>
										<option value="7"> 7 </option>
									</select>
								</dd>
							</dl> 
						</div> 
						<div class="col-sm-7">
						</div> 
					</div> 
					<hr>
					<a href="/product/{{product.id}}" id="addButton" class="btn btn-lg btn-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to
						cart </a>
					<a href="#" id="addButton" class="btn btn-lg btn-primary text-uppercase"> <i class="fas fa-arrow-left"></i> Back to Shopping</a>
				</article> 
			</aside> 
		</div> 
	</div> 
</div>
<script>
    const addButton = document.getElementById('addButton');
    const imagePath = document.getElementById('img').src;
    const pname = document.getElementById('pname').textContent;
	const pdescription = document.getElementById('description').innerText;
	let purl = document.getElementById('addButton').href;
	let pid = (purl.match(/(\d+)/g) || []);
    let price = parseFloat(document.getElementById('productPrice').innerText);
	let sel = document.getElementById('qty');
	let qty = parseInt(sel.options[sel.selectedIndex].value);

    let obj = {pid: pid[1], image: imagePath, productName: pname, productPrice: price, description: pdescription, qty: qty};
    addButton.addEventListener('click', (evt) => {
        let req = new XMLHttpRequest();
        req.open('POST', `/add-to-cart/:id`);
        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        req.responseType = 'json';
        req.onload = function (evt) {
            if (req.status == 200) { // check for ok response
                const resp = req.response;
                console.log(resp);
				window.alert("Item"+resp.id+"has been added to the cart");
            }
            else {
                console.log('err', req);
            }
        };
        console.log('sending', obj);
        req.send(JSON.stringify(obj));
    });
</script>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="logo.png">
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3" id="socialIcon">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                            class="fab fa-google-plus-square fa-2x"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fab fa-facebook-square fa-2x"></i></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                            class="fab fa-twitter-square fa-2x"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fas fa-envelope-square fa-2x"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright Shopping Cart System </p>
    </div>
</footer>

