<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-dragon fa-lg"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products" style="font-family: cursive"><h3>PlayMaster</h3><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/shoppingcart"><i class="fas fa-shopping-cart"></i> Shopping Cart
        <span class="badge" style="background-color: grey; color: white">{{cartItem}}</span>
      </a>
    </span>
    <span class="navbar-text dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-cog"></i> Hi {{user.username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/user/profile">Profile</a>
        <a class="dropdown-item" href="/user/settings">Settings</a>
        <a class="dropdown-item" href="/user/admin">Admin Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/">Logout</a>
      </div>
    </span>
  </div>
</nav>

<br>

<div class="container">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <a href="#"><img id="img" src="{{product.imagePath}}"></a></div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 id="pname" class="title mb-3">{{product.name}}</h3>
          <h5 hidden id="ppid">{{product.id}}</h5>
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency">CAN $</span><span id="productPrice" class="num">{{product.price}}
              </span>
          </p>
          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p id="description">{{product.description}}</p>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dt>Delivery</dt>
            <dd>Canada, USA</dd>
          </dl>
          <hr>
          <dl class="param param-feature">
            <dt>Rating</dt>
            <dd><span class="rating" style="display: inline-block" data-default-rating="{{product.rating}}"></span> /{{product.rating}}</dd>
          </dl>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Quantity: </dt>
                <dd>
                  <select id="qty" class="form-control form-control-sm" style="width:70px;">
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                  </select>
                </dd>
              </dl>
            </div>
            <div class="col-sm-7">
            </div>
          </div>
          <hr>
          <a href="/product/{{product.id}}" id="addButton" class="btn btn-lg btn-primary text-uppercase"> <i
              class="fas fa-shopping-cart"></i> Add to
            cart </a>
          <a href="/products" id="backbutton" class="btn btn-lg btn-primary text-uppercase"> <i
              class="fas fa-arrow-left"></i> Back to Shopping</a>
        </article>
      </aside>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="page-header">
        <h1><small class="pull-right">{{reviewsNum}} comments</small> </h1>
      </div>
      <hr>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-default" data-toggle="collapse" href="#reviews" role="button" aria-expanded="false" aria-controls="reviews">Show Comments</a>
          <br><br>
        </div>
      </div>
      <div id="reviews" class="comments-list collapse">
        {{#each reviews}}
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading user_name"><i class="fas fa-user-secret fa-lg"></i> {{this.username}}</h2>
            <p>{{this.comment}}</p>
          </div>
        </div>
        <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <form>
    <div class="form-group">
      <label for="comment"><i class="fas fa-comment-alt fa-lg"></i> Comment:</label>
      <textarea class="form-control pb-cmnt-textarea" rows="5" id="comment" placeholder="Write your comment here......"></textarea>
      <br>
      <div class="row">
        <div class="col text-right">
          <a id="submitb" role="button" class="btn btn-primary" >Share</a>
        </div>
      </div>
    </div>
  </form>
  <script>
    const submitButton = document.getElementById('submitb');

    submitButton.addEventListener('click', (evt) => {
      console.log("submit button click");
      let comment = document.getElementById('comment').value;
      let name = document.getElementById("pname").innerText;
      let pid = parseInt(document.getElementById('ppid').innerText);
      console.log(comment);
      let req = new XMLHttpRequest();
      req.open('POST', '/review');
      req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      req.responseType = 'json';
      req.onload = function (evt) {
        if (req.status == 200) { // check for ok response
          const resp = req.response;
          console.log(resp.status);
          window.alert("Your review sent successfully");
          location.reload();
        }
        else {
          console.log('err', req);
        }
      };
      let msg = {comment: comment, name: name, pid: pid};
      console.log('sending', msg);
      req.send(JSON.stringify(msg));
    });

  </script>
</div>

<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <i class="fas fa-dragon fa-5x"></i>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3" id="socialIcon">
        <div class="text-center">
          <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
              class="fab fa-google-plus-square fa-2x"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
              class="fab fa-facebook-square fa-2x"></i></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
              class="fab fa-twitter-square fa-2x"></i></a>
          <a class="btn btn-social-icon" href="mailto:"><i class="fas fa-envelope-square fa-2x"></i></a>
        </div>
        <button type="button" class="btn btn-default">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Copyright Shopping Cart System </p>
  </div>
</footer>

<script src="/javascript/rating.js"></script>
<script src="/javascript/addToCart.js"></script>