
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
   <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shipping cart
                <a href="/products" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                {{#each products}}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="{{this.product_image}}" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <a href="/product/{{this.product_id}}" ><h4 id="product_name" class="product-name"><strong style="color: black">{{this.product_name}}</strong></h4></a>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6 id="checkoutPrice"><strong>{{this.product_price}} <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input id="qty" type="number" step="1" max="99" min="1" value="{{this.product_qty}}" title="Qty" class="qty"
                                           size="4">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button id="singleDelete" type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                {{/each}}
                    <!-- END PRODUCT -->
                <div class="pull-right">
                    <a href="/shoppingcart" class="btn btn-outline-secondary pull-right">
                        Update shopping cart
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    <a href="/checkout" id="checkout" class="btn btn-success pull-right">Checkout</a>
                    <div class="pull-right" style="margin: 5px">
                        Total price: <b>${{totalPrice}}</b>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    const deleteButton = document.getElementById("singleDelete");
    const checkoutButton = document.getElementById("checkout");
    //let pname = document.getElementById("product_name").textContent;

    checkoutButton.addEventListener('click', (evt) => {
        console.log("checkout button click");
        let qty = parseInt(document.getElementById("qty").value);
        let req = new XMLHttpRequest();
        req.open('GET', `/checkout`);
        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        req.responseType = 'json';
        req.onload = function (evt) {
            if (req.status == 200) { // check for ok response
                const resp = req.response;
                console.log(resp);
            }
            else {
                console.log('err', req);
            }
        };
        console.log('sending', qty);
        req.send(JSON.stringify(qty));
    });

    deleteButton.addEventListener('click', (evt) => {
        console.log("clicked delete button");   
        let pname = document.getElementById("product_name").textContent;
        let req = new XMLHttpRequest();
        req.open('DELETE', `/deleteSingleProduct`);
        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        req.responseType = 'json';
        req.onload = function (evt) {
            if (req.status == 200) { // check for ok response
                const resp = req.response;
                console.log(resp.status);
            }
            else {
                console.log('err', req);
            }
        };
        console.log(JSON.stringify(pname));
        req.send(JSON.stringify(pname));
    });

</script>
<br><br><br>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="logo.png">
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3" id="socialIcon">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                            class="fab fa-google-plus-square fa-2x"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fab fa-facebook-square fa-2x"></i></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                            class="fab fa-twitter-square fa-2x"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fas fa-envelope-square fa-2x"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright Shopping Cart System </p>
    </div>
</footer>